.credo__wrapper {
    @extend %align;
    height: 120px;
    background-color: var(--back-ground-section-color);
    border-radius: 4px;

    margin-bottom: 30px;
}

.credo__title {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.credo__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);

}

@media screen and (max-width:767px) {
    .credo__item:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media screen and (min-width:768px){
    .credo {
        display: flex;
        flex-wrap: wrap;

        margin-left: -30px;
        margin-top: -30px;
    }

    .credo__item {
        flex-basis: calc((100% - 60px) / 2);

        margin-left: 30px;
        margin-top: 30px;
    }

    .credo__title{
        text-align: start;
    }
}

@media screen and (min-width:1200px){
    .credo__item{
        flex-basis: calc((100% - 120px) / 4);
    }
}


// .credo {
//     display: flex;
//     flex-wrap: wrap;

//     margin-left: -30px;
//     margin-top: -30px;
// }

// .credo__item {
//     flex-basis: calc((100% - 120px) / 4);

//     margin-left: 30px;
//     margin-top: 30px;
// }

// .credo__wrapper {
//     @extend %align;
//     height: 120px;
//     background-color: var(--back-ground-section-color);
//     border-radius: 4px;

//     margin-bottom: 30px;
// }

// .credo__title {
//     font-weight: 700;
//     font-size: 14px;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;

//     margin-bottom: 10px;
// }

// .credo__text {
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     color: var(--text-color);
// }