.customers {
    display: flex;
    flex-wrap: wrap;

    margin-left: -30px;
    margin-top: -30px;
}

.customers__item {
    width: 210px;
    height: 92px;

    flex-basis: calc((100% - 60px) / 2);
    
    margin-left: 30px;
    margin-top: 30px;
}

.customers__link {
    @extend %align;

    width: 100%;
    height: 100%;
    border: 1px solid var(--icon-color);
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }
}

.customers__icon {
    fill: var(--icon-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .customers__link:hover &,
    .customers__link:focus & {
        fill: var(--accent-color);
    }
}

@media screen and (min-width: 768px) {
    .customers__item{
        width: 226px;

        flex-basis: calc((100% - 90px) / 3);
    }
}

@media screen and (min-width: 1200px){
    .customers {
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        flex-basis:auto
    }

    .customers__item {
        width: 170px;
        height: 92px;
        
        flex-basis: calc((100% - 180px) / 6);
    }
}

    
    // .customers {
    //     @extend %align;
    // }

    // .customers__item {
    //     width: 170px;
    //     height: 92px;

    //     &:not(:last-child) {
    //         margin-right: 30px;
    //     }
    // }

    // .customers__link {
    //     @extend %align;

    //     width: 100%;
    //     height: 100%;
    //     border: 1px solid var(--icon-color);
    //     border-radius: 4px;

    //     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    //     &:hover,
    //     &:focus {
    //         border-color: var(--accent-color);
    //     }
    // }

    // .customers__icon {
    //     fill: var(--icon-color);

    //     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    //     .customers__link:hover &,
    //     .customers__link:focus & {
    //         fill: var(--accent-color);
    //     }
    // }