.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__conteiner{
    text-align: center;
}

.footer__logo{
    display: block;
    margin-bottom: 20px;
}

.contact__item:not(:last-child) {
    margin-bottom: 8px;
}

.contact__link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.contact__link_text-color {
    color: var(--secondory-color);
}

.footer__social-title {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondory-color);

    margin-bottom: 20px;
}

.subscription-form__fild-key {
    display: block;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--secondory-color);

    margin-bottom: 20px;
}

.subscription-form__input {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    color: var(--secondory-color);

    margin-bottom: 20px;
    padding: 15px 16px;

    &::placeholder {
        line-height: 1.25;
        color: rgba(255, 255, 255, 0.6);
    }
}

.subscription-form__button {
    @extend %align;
}

.subscription-form__icon {
    margin-left: 10px;
    fill: var(--secondory-color);
}

@media screen and (max-width:767px){
    .footer__social-block {
        margin-bottom: 60px;
    }
    
}


@media screen and (min-width:768px){
    .footer__conteiner{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: baseline;
    }

    .subscription-form__input {
        width: 450px;
    }
}

@media screen and (max-width:1199px) {    
    .footer__contact-block {
        margin-bottom: 60px;
    }

    .subscription-form {
        width: 100%;
    }
    
    .subscription-form__button {
        margin: 0 auto;
    }
}

@media screen and (min-width:1200px){
    .footer__conteiner {
        text-align: start;
    }

    .footer__contact-block {
        flex-grow: 1;
        margin-right: 70px;
    }

    .contact__item:not(:last-child) {
        margin-bottom: 9px;
    }

    .footer__social-block {
        margin-right: 93px;
    }

    .footer__social-list {
        justify-content: start;
    }

    .subscription-form {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .subscription-form__fild {
        margin-right: 12px;
    }

    .subscription-form__input {
        width: 358px;
        margin-bottom: 0;
    }
}


// .footer__conteiner {
//     display: flex;
//     align-items: baseline;

//     padding-top: 60px;
//     padding-bottom: 60px;
// }

// .footer__contact-block {
//     flex-grow: 1;
//     margin-right: 70px;
// }

// .footer__logo {
//     display: block;
//     margin-bottom: 20px;
// }

// .contact__item:not(:last-child) {
//     margin-bottom: 9px;
// }

// .contact__link {
//     font-style: normal;
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     color: rgba(255, 255, 255, 0.6);

//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//         color: var(--accent-color);
//     }
// }

// .contact__link_text-color {
//     color: var(--secondory-color);
// }

// .footer__social-block {
//     margin-right: 93px;
// }

// .footer__social-title {
//     font-weight: 700;
//     font-size: 14px;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: var(--secondory-color);

//     margin-bottom: 20px;
// }

// .footer__social-list {
//     justify-content: start;
// }

// .subscription-form {
//     display: flex;
//     justify-content: center;
//     align-items: flex-end;
// }

// .subscription-form__fild {

//     margin-right: 12px;
// }

// .subscription-form__fild-key {
//     display: block;
//     font-weight: 700;
//     font-size: 14px;
//     text-transform: uppercase;
//     color: var(--secondory-color);

//     margin-bottom: 20px;
// }

// .subscription-form__input {
//     width: 358px;
//     height: 50px;
//     border: 1px solid rgba(255, 255, 255, 0.3);
//     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//     border-radius: 4px;
//     background-color: #2F303A;
//     color: var(--secondory-color);

//     padding: 15px 16px;

//     &::placeholder {
//         line-height: 1.25;
//         color: rgba(255, 255, 255, 0.6);
//     }
// }

// .subscription-form__button {
//     @extend %align;
// }

// .subscription-form__icon {
//     margin-left: 10px;
//     fill: var(--secondory-color);
// }
