.hero{
    text-align: center;
        
    padding-top: 118px;
    padding-bottom: 118px;
    margin: 0 auto;
    
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-mobile.jpg);
    background-color: #C4C4C4;
    background-size: cover;
    
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero/hero-mobile@2x.jpg);
    }
}

.hero__title{
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondory-color);
    margin-bottom: 30px;
}

.hero__item {
    display: block;
}

@media screen and (min-width:768px){
    .hero{
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero/hero-tablet.jpg);
    }
    
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero/hero-tablet@2x.jpg);
        }
    }
}

@media screen and (min-width:1200px){
    .hero{
        max-width: 1600px;
        padding-top: 200px;
        padding-bottom: 200px;
        margin-left: auto;
        margin-right: auto;

        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero/hero-background-image.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero/hero-background-image@2x.jpg);
        }
    }

    .hero__title {
        font-size: 44px;
        line-height: 1.36;
    }
}

// .hero {s
//     text-align: center;
//     width: 1600px;
//     padding-top: 200px;
//     padding-bottom: 200px;
//     margin-left: auto;
//     margin-right: auto;

//     background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//         url(../images/hero/hero-background-image.jpg);
//     background-color: #C4C4C4;
//     background-repeat: no-repeat;
//     background-position: center center;
//     background-size: cover;
// }

// .hero__title {
//     font-weight: 900;
//     font-size: 44px;
//     line-height: 1.36;
//     letter-spacing: 0.06em;
//     text-transform: uppercase;
//     color: var(--secondory-color);
//     margin-bottom: 30px;
// }

// .hero__item {
//     display: block;
// }