.our-team__item{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.our-team__wrapper {
    padding-top: 30px;
    padding-bottom: 24px;

    background-color: var(--secondory-color);
}

.our-team__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 10px;
}

.our-team__text {
    line-height: 1.19;
    text-align: center;
    color: var(--text-color);
    letter-spacing: 0.03em;

    margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
    .our-team__item:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 768px) {
    .our-team {
        display: flex;
        flex-wrap: wrap;

        margin-left: -30px;
        margin-top: -30px;
    }

    .our-team__item {
        flex-basis: calc((100% - 60px) / 2);

        margin-left: 30px;
        margin-top: 30px;
    }
}

@media screen and (min-width: 1200px){
    .our-team__item{
        flex-basis: calc((100% - 120px) / 4);
    }
    
    .our-team__wrapper{
        padding-bottom: 30px;
    }
}


// .our-team {
//     display: flex;
//     flex-wrap: wrap;

//     margin-left: -30px;
//     margin-top: -30px;
// }

// .our-team__item {
//     flex-basis: calc((100% - 120px) / 4);

//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
//     border-radius: 0px 0px 4px 4px;

//     margin-left: 30px;
//     margin-top: 30px;
// }

// .our-team__wrapper {
//     padding-top: 30px;
//     padding-bottom: 30px;

//     background-color: var(--secondory-color);
// }

// .our-team__title {
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 1.19;
//     text-align: center;
//     letter-spacing: 0.03em;

//     margin-bottom: 10px;
// }

// .our-team__text {
//     line-height: 1.19;
//     text-align: center;
//     color: var(--text-color);
//     letter-spacing: 0.03em;

//     margin-bottom: 16px;
// }