.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}

.contact-form__fild {
    margin-bottom: 10px;

    &:nth-child(5) {
        margin-bottom: 20px;
    }
}

.contact-form__fild-key {
    display: block;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--text-color);

    margin-bottom: 4px;
}

.contact-form__input-wrapper {
    position: relative;

    display: block;
}

.contact-form__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }
}

.contact-form__icon {
    position: absolute;
    top: 50%;
    left: 12px;

    transform: translateY(-50%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .contact-form__input:focus+& {
        fill: var(--accent-color);
    }
}

.contact-form__textarea {
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }

    &::placeholder {
        font-size: 14px;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}

.contact-form__checkbox-label {
    @extend %align;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--text-color);

    margin-bottom: 30px;

    &::before {
        display: block;
    
        width: 16px;
        height: 15px;
        content: "";
        cursor: pointer;
        border: 2px solid var(--primary-color);
        border-radius: 2px;
    
        margin-right: 8px;

        .contact-form__checkbox:checked+& {
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../images/vector.svg);
            background-color: var(--accent-color);
            border-color: var(--accent-color);
        }

        .contact-form__checkbox:focus+& {
            border-color: var(--accent-color);
        }
    }
}

.contact-form__checkbox-link {
    color: var(--accent-color);
}

.contact-form__button {
    align-self: center;
}

@media screen and (min-width:1200px){
    .contact-form__checkbox-label{
        font-size: 14px;
        line-height: 1.71;
    }
}

