.conteiner {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (min-width:480px) {
    .conteiner{
        width: 480px;
        
    }
}

@media screen and (min-width:768px){
    .conteiner{
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (min-width:1200px) {
    .conteiner {
        width: 1200px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

