.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section__other_background {
    background-color: var(--back-ground-section-color);
}

.section__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;

    margin-bottom: 30px;
}

@media screen and (min-width:1200px){
    .section{
        padding-top: 94px;
        padding-bottom: 94px;
    }
    
    .section__no_pading-top {
        padding-top: 0;
    }
    
    .section__title {
        font-size: 36px;
        margin-bottom: 50px;
    }
}